* {
}
/*vertical mobile*/
@media only screen and (max-width: 480px)
{
 span
 {
    background-color: rgb(227, 123, 209);
 }

}
 /*orizzontal mobile*/
@media only screen and (min-width: 481px) and (max-width:800px)
{
 span
 {
    background-color: rgb(227, 123, 209);
 }

 }
 /*tablet*/
@media only screen and (min-width: 768px) and (max-width:1023px)
{
 span
 {
    background-color: rgb(227, 123, 209);
 }

}
 /*desktop*/
@media only screen and (min-width:1024px)
{
 span
 {
    background-color: rgb(227, 123, 209);
 }
}
