* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(141, 140, 140);
  color: black;
}
/*vertical mobile*/
@media only screen and (max-width: 480px)
{
  header h1
  {
   text-align: center;
   font-size: 40px;
   padding: 40px 0px;
  }
  h3
  {
    font-size: 25px ;
    padding: 10px 20px;
  }
  P 
  {
   padding: 10px 15px;
   font-size: 20px;
  }
  ul 
  {
    padding: 10px 30px;
    font-size: 15;
  }
  p .grass
  {
    font-weight: bold;
  }
  .y
  {
   background-color: rgb(241, 241, 98);
  }
  .g
  {
    background-color: rgb(86, 219, 86);
  }
  .p
  {
    background-color: rgb(236, 90, 212);
  }
  div
  {
    width: 45%;
    margin-left: 5px;  
  }
  table {
    width: 60%;
    border-collapse: collapse; /* Per evitare doppi bordi */
    table-layout: auto; /* Le dimensioni delle colonne si adattano al contenuto */
  }
  th, td {
    border: 1px solid #000; /* Bordo delle celle */
    padding: 8px; /* Spaziatura interna delle celle */
    text-align: left; /* Allineamento del testo a sinistra */
  }
}
 /*orizzontal mobile*/
@media only screen and (min-width: 481px) and (max-width:800px)
{
  header h1
  {
   text-align: center;
   font-size: 40px;
   padding: 20px 10px;
  }
  h3
  {
    font-size: 25px ;
    padding: 10px 20px;
  }
  P 
  {
   padding: 10px 15px;
   font-size: 20px;
  }
  ul 
  {
    padding: 10px 30px;
    font-size: 15;
  }
  p .grass
  {
    font-weight: bold;
  }
  .y
  {
   background-color: rgb(241, 241, 98);
  }
  .g
  {
    background-color: rgb(86, 219, 86);
  }
  .p
  {
    background-color: rgb(236, 90, 212);
  }
  div
  {
    width: 75%;
    margin-left: 5px;
  }
  table {
    width: 100%;
    border-collapse: collapse; /* Per evitare doppi bordi */
    table-layout: auto; /* Le dimensioni delle colonne si adattano al contenuto */
  }
  th, td {
    border: 1px solid #000; /* Bordo delle celle */
    padding: 8px; /* Spaziatura interna delle celle */
    text-align: left; /* Allineamento del testo a sinistra */
  }
}
 /*tablet*/
@media only screen and (min-width: 768px) and (max-width:1023px)
{
  header h1
  {
   text-align: center;
   font-size: 50px;
   padding: 30px 15px;
  }
  h3
  {
    font-size: 28px ;
    padding: 10px 20px;
  }
  P 
  {
   padding: 15px 16px;
   font-size: 25px;
  }
  ul 
  {
    padding: 10px 30px;
    font-size: 15;
  }
  p .grass
  {
    font-weight: bold;
  }
  .y
  {
   background-color: rgb(241, 241, 98);
  }
  .g
  {
    background-color: rgb(86, 219, 86);
  }
  .p
  {
    background-color: rgb(236, 90, 212);
  }
  div
  {
    width: 75%;
    margin-left: 0px;
  }
  table {
    width: 100%;
    border-collapse: collapse; /* Per evitare doppi bordi */
    table-layout: auto; /* Le dimensioni delle colonne si adattano al contenuto */
  }
  th, td {
    border: 1px solid #000; /* Bordo delle celle */
    padding: 8px; /* Spaziatura interna delle celle */
    text-align: left; /* Allineamento del testo a sinistra */
  }
}
 /*desktop*/
@media only screen and (min-width:1024px)
{
  header h1
  {
   text-align: center;
   font-size: 80px;
   padding: 40px 0px;
  }
  h3
  {
    font-size: 35px ;
    padding: 10px 20px;
  }
  P 
  {
   padding: 15px 20px;
   font-size: 25px;
  }
  ul 
  {
    padding: 10px 30px;
    font-size: 20px;
  }
  p .grass
  {
    font-weight: bold;
  }
  .y
  {
   background-color: rgb(241, 241, 98);
  }
  .g
  {
    background-color: rgb(86, 219, 86);
  }
  .p
  {
    background-color: rgb(236, 90, 212);
  }
  div
  {
    width: 75%;
    margin: 0 auto;
  }
  table {
    width: 100%;
    border-collapse: collapse; /* Per evitare doppi bordi */
    table-layout: auto; /* Le dimensioni delle colonne si adattano al contenuto */
  }
  th, td {
    border: 1px solid #000; /* Bordo delle celle */
    padding: 8px; /* Spaziatura interna delle celle */
    text-align: left; /* Allineamento del testo a sinistra */
  }
}
